@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:ital,wght@0,100;0,400;0,500;1,400&display=swap');

*{
font-family: 'Montserrat', sans-serif;
font-weight: 550;
}
html,body{
    min-height: 100vh;
}
#root > div > div > div:nth-child(2) > main > div > form > button:hover{
    background-color: #e5db35!important;
}
#root > div > div > div:nth-child(1) > main > div > form > button:hover{
    background-color: #e5db35!important;
}
#root > div > div > nav > div > button:hover{
    background-color: #e5db35!important;
}
#root > div > div > form > button:hover{
    background-color: #e5db35!important;
}
#root > div > nav > div > button:hover{
    background-color: #e5db35!important;
}

#root > div > nav > div > div.select-category.css-b62m3t-container{
    min-width: 60px;
}

#birthday{
    
}

