    .job-list-container {
        margin-top: 1rem;
    
    }
    
    .job-list-table {
        border-collapse: collapse;
        width: 100%;
    }
    
    .job-list-table th,
    .job-list-table td {
        border: 1px solid #ccc;
        padding: 8px;
    }
    
    .job-list-table th {
        text-align: left;
    }
    

    .table-dark>tbody>tr:nth-of-type(odd)>* {
        --bs-table-color-type:#fff; ;
        --bs-table-bg-type: #484b4f;
    }
