.navbar {
  align-items: center;

}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo {
  text-decoration: none;
}

.logo-image {
  height: 70px;
  width: 70px;
}


@media screen and (max-width: 600px) {
  .logo-name{
    display: none;
  }
}
  


.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}




.search-box {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.user-menu {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}




.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Responsive Styles */
  /* @media (max-width: 600px) {
    .nav-menu {
      flex-direction: column;
      align-items: flex-end;
      gap: 1rem;
    }
  } */
  
  .search-box {
    margin-left: 0;
    margin-top: 1rem;
  }
  
  .user-menu {
    margin-left: 0;
    margin-top: 1rem;
  }

  .dropdown-content{
    display: flex;
    flex-direction: column;
    gap:8px;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #ffffff00;
    min-width: 100px;
    z-index: 10;
    text-decoration: none;
  }
  .dropdown-content a{
    color: black;
    text-decoration: none;
    padding: 10px;
    border-radius: 1rem;
    border: 1px solid #16080833;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.098);
    background-color: aliceblue;
  }


  .nav-menu-item {
    margin-left: 1rem;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
  }
  
  .nav-menu-item:hover {
    transform: scale(1.1);
  }
  
  .nav-menu-item a {
    font-weight: bold;
    padding: 0.5rem;
    transition: transform 0.3s ease-in-out;
  }

  .user-icon {
    transition: transform 0.3s ease-in-out;
  }
  
  .user-icon:hover {
    transform: scale(1.1);
  }
  