nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid #ccc;
  padding: 1rem;

}

form {
  display: flex;
  align-items: center;
}

input[type="text"] {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  padding: 0.5rem 1rem;
  background-color: grey;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.select-container {
  display: flex;
  justify-content: space-between;
  /* margin-right: 2rem; */
}

.select-container > div {
  margin-right: 2rem;
}

.search-input {
  display: flex;
  align-items: center;
  width: 75px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 15px;
  overflow: hidden;
  transition: width 0.75s ease;
  /* margin-right: 2rem; */
}

.search-input:hover {
  width: 400px;
}

.search-input input[type="text"] {
  width: 0;
  overflow: hidden;
  transition: all 0.75s ease;
}

.search-input:hover input[type="text"] {
  width: 400px;
  padding-inline: 1.5rem;
}

.searchbox-container > div{
display: flex;
gap: 20px;
width: '90%';
margin:auto;
}

